<div class="view" data-ng-controller="UserEditController as vm">
   <div class="container">
      <header>
         <h3><span class="glyphicon glyphicon-edit"></span> {{vm.title}} User </h3>
      </header>
      <form name="editForm" novalidate>
         <div class="userEdit">
            <div class="row">
               <div class="col-md-12">
                  <h4>{{ vm.user.firstName + ' ' + vm.user.lastName }}</h4>
                  <br />
               </div>
            </div>
            <div class="row">
               <div class="col-md-2">
                  First Name:
               </div>
               <div class="col-md-10">
                  <input type="text" name="firstName" class="form-control" data-ng-model="vm.user.firstName" required />
                  <span class="errorMessage" ng-show="editForm.firstName.$touched && editForm.firstName.$invalid">
                            First name is required
                        </span>
               </div>
            </div>
            <br />
            <div class="row">
               <div class="col-md-2">
                  Last Name:
               </div>
               <div class="col-md-10">
                  <input type="text" name="lastName" class="form-control" data-ng-model="vm.user.lastName" required />
                  <span class="errorMessage" ng-show="editForm.lastName.$touched && editForm.lastName.$invalid">
                            Last name is required
                        </span>
               </div>
            </div>
            <br />
            <div class="row">
               <div class="col-md-2">
                  Email:
               </div>
               <div class="col-md-10">
                  <!-- allowInvalid added below so that the model isn't wiped
                  out (the default behavior) if email is determined to be invalid due to being a duplicate-->
                  <input type="email" name="email"
                         class="form-control"
                         data-ng-model="vm.user.email"
                         data-ng-model-options="{ updateOn: 'blur', allowInvalid: true }"
                         data-wc-unique
                         data-wc-unique-key="{{vm.user.id}}"
                         data-wc-unique-property="email"
                         data-ng-minlength="3"
                         required />
                  <!-- Show error if touched and unique is in error -->
                  <span class="errorMessage" ng-show="editForm.email.$touched && editForm.email.$error.unique">
                            Email address already in use
                        </span>
                  <span class="errorMessage" ng-show="editForm.email.$touched && editForm.email.$invalid">
                            Email address is invalid
                        </span>
               </div>
            </div>
            <br />
            <div class="row">
               <div class="col-md-12">
                  <button type="submit" class="btn btn-primary" data-ng-click="vm.saveUser()"
                          ng-disabled="editForm.$invalid || !editForm.$dirty">
                     {{vm.buttonText}}
                  </button>
                  &nbsp;&nbsp;
                  <button class="btn btn-danger" data-ng-if="vm.user.id != -1" data-ng-click="vm.deleteUser()">Delete</button>
               </div>
            </div>
            <br />
            <div class="statusRow">
               <br />
               <div class="label label-important" data-ng-show="!vm.updateStatus">
                  <span class="glyphicon glyphicon-thumbs-down icon-white"></span>&nbsp;&nbsp;Error Updating!
               </div>
               <div class="label label-success" data-ng-show="vm.updateStatus">
                  <span class="glyphicon glyphicon-thumbs-up icon-white"></span>&nbsp;&nbsp;User updated!
               </div>
            </div>
         </div>
      </form>
   </div>
</div>
